

.pagination{
    width: 400px;
    .active{
        color: white;
        background: #000000;
    }
    a{
        text-decoration: none;
        color: #000;
        display: block;
        border-left: 1px solid #555555;
        border-top: 1px solid #555555;
        border-bottom: 1px solid #555555;
        font-size: 18px;
        line-height: 24px;
        padding: 12px 16px;
    }
    .next-page{
        border-right: 1px solid #555555;
        background: #F2F2F2;
    }
    .next-page, .pre-page{
        font-size: 19px;
        line-height: 26px;
        padding: 11px 12px;
    } 
    @include mobile(){
        width: 345px;
        a{
            font-size: 16px;
            line-height: 21px;
            padding: 12px 15px;
        }
        .pre-page, .next-page{
            padding: 10px 10px;
            font-size: 17px;
            line-height: 24px;
        }
    }
}

.location-card{
    border: 1px solid #00000020;
    .card-img{
        img{
            width: 100%;
        }
    }
    .card-title{
        padding: 12px 0px 12px 24px;
        font-size: 24px;
        line-height: 1.5;
        font-weight: bold;
        border-bottom: 1px solid #00000020;
    }
    .card-text{
        padding: 16px 24px;
        font-size: 20px;
        line-height: 1.5;
    }
    .card-link{
        text-align: center;
        background: #000;
        padding: 20px 0;
        font-size: 19px;
        line-height: 1.5;
    }
    @include tablet(){
        .card-title{
            font-size: 16px;
            padding: 8px 0 8px 24px;
        }
        .card-text{
            font-size: 14px;
        }
        .card-link{
            padding: 16px 0;
            font-size: 14px;
        }
    }
}

// 文字

.link-white{
    text-decoration: none;
    color: $color-white;
}

.link-black{
    text-decoration: none;
    color: #000;
}

.title{
    font-size: $font-size-reference*2;
    line-height: 70px;
    @include mobile(){
        font-size: 28px;
        line-height: 40px;
    }
}



//border

.border-x-1{
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
}

.title-top{
    padding-left: 16px;
    border-left: 8px solid $color-primary;
    @include tablet(){
        border-left: 4px solid $color-primary;
    }
    @include mobile(){
        padding-left: 8px;
    }
}

.subtitle{
    font-size: $font-size-reference*1.5;
    line-height: 1.5;
    @include mobile(){
        font-size: 20px;
        line-height: 1.5;
    }
}

@include tablet(){
    .font-m-16{
        font-size: 16px;
    }
    .font-m-14{
        font-size: 14px;
    }
    .font-m-24{
        font-size: 24px;
    }
}

@include mobile(){
    .font-sm-16{
        font-size: 16px;
    }
    .font-sm-14{
        font-size: 14px;
    }
}



