// color
$color-primary:#AA0601;
$color-secondary: #650300;
$color-third: #FBF2F2;
$color-white: #fff;
$color-black: #000;

// font size
$font-size-reference: 24px;
$font-size-link: 20px;
$font-size-sm:14px;

// spacing
$spacing-reference: 10px;